body {
	font-family: 'Source Sans Pro', sans-serif; 
	border: 20px solid #bdc3c7; 
	max-width: 700px;
	width: 80%; 
	margin: 2% auto; 
	padding-left: 2%; 
	padding-right: 3%;}

/*Styling the date*/
.date {
	color: #3498db; 
	text-transform: uppercase; 
	letter-spacing: 0.2rem; }

h2	{
	color: #2c3e50; 
	text-transform: capitalize; 
	font-family: 'Source Sans Pro', 
	sans-serif; padding-top: 1%; 
	font-size: 2em;}

p {margin-bottom: 2%;}

/*Styling the first paragraph*/
.firstPara {
	border-left: 5px solid #bdc3c7; 
	padding-left: 1%;}


hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  color:#beaeff;
}

	